
.Header {
    background: url(PATH_TO_IMAGE) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
}
.HeaderText {
    font-weight: 250;
    font-size: 70px;
    -webkit-filter: drop-shadow(5px 5px 5px white);
    filter: drop-shadow(5px 5px 5px white);
    padding-top: 60px;
}
.SubheaderText {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer {
    background-color:rgb(77, 100, 119);
    color: white;
    padding: 30px;
    text-align: center;
}
.footer-pushdown {
   min-height: calc(100% - 89px);
}
.navbar, nav a {
    background-color: rgb(77, 100, 119);
    color:white;

}
nav a:hover {
    color:lightgrey;
}
.projects {
color: rgb(77, 100, 119);
-webkit-filter: drop-shadow(5px 5px 5px rgb(195, 195, 195));
filter: drop-shadow(5px 5px 5px rgb(195, 195, 195));

}
.about {
    background-color: rgb(228, 227, 227);
    padding-bottom: 20px;
    padding-top: 40px;
    border-radius: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(195, 195, 195));
    filter: drop-shadow(5px 5px 5px rgb(195, 195, 195));
}

