
.Header{
    background: url(PATH_TO_IMAGE) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    background-color: rgb(59, 59, 59);
}
.HeaderText{
    color: rgb(89, 255, 219);
    font-weight: 250;
    font-size: 41px;
    padding-top: 45px;
}
.SubheaderText {
    color: rgb(228, 227, 227);
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-color {
    color: rgb(34, 97, 83);
    margin-bottom: 0px; 
    text-align: center;
}
.logo {
    width: 80px;
    border: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(20, 20, 20));
    filter: drop-shadow(5px 5px 5px rgb(20, 20, 20));
}
@media (min-width: 550px) {  
    .HeaderText {
        font-size:56px; 
    }
    .SubheaderText {
        font-size: 33px;
    }
    .Header {
        height: 240px;
    }
    .text-color{
        text-align: center;
    }
    .logo {
        width: 110px;
        border: 0px;
        margin-right: 15px;
        margin-bottom: 0px;
    }
}
@media (min-width: 992px) {  
    .HeaderText {
        font-size:71px;
        padding-top: 65px;
    }
    .SubheaderText {
        font-size: 40px;
    }
    .Header {
        height: 330px;
    }
    .text-color{
        text-align: left;
    }
    .logo {
        width: 148px;
        border: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
}
.footer {
    background-color:rgb(59, 59, 59);
    color: white;
    padding: 40px;
    text-align: center;
}
.footer-pushdown {
   min-height: calc(100% - 89px);
}
.navbar, nav a {
    background-color: rgb(34, 97, 83);
    color:white;

}
nav a:hover {
    color:lightgrey;
}
.about {
    background-color: rgb(228, 227, 227);
    padding-top: 40px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    background-color: black;
  } 
.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

