
.Header {
    background: url(PATH_TO_IMAGE) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;
    background-color: rgb(59, 59, 59);
}
.HeaderText{
    color: rgb(89, 255, 219);
    font-weight: 250;
    font-size: 70px;
    padding-top: 30px;
}
.SubheaderText {
    color: rgb(228, 227, 227);
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer {
    background-color:rgb(59, 59, 59);
    color: white;
    padding: 40px;
    text-align: center;
}
.footer-pushdown {
   min-height: calc(100% - 89px);
}
.navbar, nav a {
    background-color: rgb(34, 97, 83);
    color:white;

}
nav a:hover {
    color:lightgrey;
}
.text-color {
    color: rgb(34, 97, 83);
    margin-bottom: 0px; 
}
.about {
    background-color: rgb(228, 227, 227);
    padding-bottom: 20px;
    padding-top: 40px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    background-color: black;
  } 

