
.mainImage {
    background-image: url("images/IMG_0787copy.jpeg");
    max-height: 100%;
    max-width: 100%;
}
.Header {
    background-image: url("images/IMG_0787copy.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: lightgray;
}
.HeaderText {
    font-weight: 200;
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px white;
    padding-top: 40px;
}
.SubheaderText {
    font-weight: 200;
    font-size: 40px;
    color: black;
}
.footer {
    background-color:rgb(75, 73, 73);
    color: white;
    padding: 30px;
    text-align: center;
}
.footer-pushdown {
   min-height: calc(100% - 89px);
}
.navbar, nav a {
    background-color: rgb(75, 73, 73);
    color:white;
}
nav a:hover {
    color:lightgrey;
}